/* Styles for the movie cards */
.outer {
    height: 100%;
    background:linear-gradient(to top, #010157 50%, #03038b) no-repeat;
}
.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:flex-start;
     }
  
  .movie-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
    border-radius: 10px;
    overflow: hidden; 
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
  }
  
  /* Styles for the movie poster */
  .movie-poster {
    width: 100%;
    height: 260px;
    max-height: 600px;
    object-fit: cover;
  }
  
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
    position: relative
  }
  
  /* Styles for the movie information */
  .movie-info {
    padding: 10px;
  }
  
  h2 {
    font-size: 1.4rem; /* Increased font size */
    margin: 0;
    color: #333; /* Darker text color */
    text-shadow: 1px 1px 1px #fff; /* Text shadow for better visibility */
  }
  
  p {
    margin: 0;
    margin-top: 5px;
    color: #777; /* Slightly lighter text color */
  }
  
  /* Button style */
  button {
    display: block;
    background: linear-gradient(135deg, #007BFF, #0056b3); /* Gradient background */
    color: #fff;
    border: none;
    padding: 8px 15px; /* Increased padding for the button */
    margin-top: 10px;
    border-radius: 25px; /* Rounded button shape */
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
    transform: scale(1);
  }
  
  button:hover {
    background: linear-gradient(135deg, #0056b3, #004499); /* Adjusted gradient on hover */
    transform: scale(1.1); /* Slightly scale up on hover */
  }

  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 500px;
  }
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
  }

  .search-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .search-btn:hover {
    background-color: #0056b3;
  }
  
  .navbar_movies {
    background-color: #50e9a9db;
    display: flex;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
  }

  /* Style for the tab links */
  .tab {
    text-decoration: none;
    color: #0d0d0d;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
  }

  /* Style for the active tab */
  .tab.active {
    background-color: #e3e7f0;
    color: rgb(19, 19, 19);
  }

  /* Hover effect for the tabs */
  .tab:hover {
    background-color: #0e0e0eed;
    color: rgb(253, 250, 250);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  